@{
    ViewBag.Title = "Confirmação de Senha";
}



<section id="ConfirmacaoLembrarSenha" class="section section-gray">


    <div class="container">

        <h2 class="section-heading text-center">Conta Coruja</h2>


        <div class="row">
            <div class="col-sm-6 col-md-6 alert-message">
             
                    <img src="~/Content/CorujaImages/avatar2.png" alt="Coruja">
                    <p>
                        Verifique seu Email para redefinir sua senha
                    </p>

            </div>
        </div>

    </div>

</section>

