
@{
    ViewBag.Title = "Ajuda";
    Layout = "~/Views/Shared/_LayoutEspecialista.cshtml";
}

<h2>Ajuda</h2>


<row>
    <!-- Topico Preview (Rectangle) -->
    <div id="u296" class="ax_default paragraph" data-label="Topico Preview">
        <div id="u296_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u297" class="text" style="visibility: visible;">
            <p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;">Tópico de Ajuda</span></p><p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;"><br></span></p><p style="font-size:13px;"><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</span></p>
        </div>
    </div>

    <!-- Unnamed (Topico de Ajuda) -->
    <!-- Topico Preview (Rectangle) -->
    <div id="u299" class="ax_default paragraph" data-label="Topico Preview">
        <div id="u299_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u300" class="text" style="visibility: visible;">
            <p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;">Tópico de Ajuda</span></p><p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;"><br></span></p><p style="font-size:13px;"><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</span></p>
        </div>
    </div>

    <!-- Unnamed (Topico de Ajuda) -->
    <!-- Topico Preview (Rectangle) -->
    <div id="u302" class="ax_default paragraph" data-label="Topico Preview">
        <div id="u302_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u303" class="text" style="visibility: visible;">
            <p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;">Tópico de Ajuda</span></p><p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;"><br></span></p><p style="font-size:13px;"><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</span></p>
        </div>
    </div>

    <!-- Unnamed (Topico de Ajuda) -->
    <!-- Topico Preview (Rectangle) -->
    <div id="u305" class="ax_default paragraph" data-label="Topico Preview">
        <div id="u305_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u306" class="text" style="visibility: visible;">
            <p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;">Tópico de Ajuda</span></p><p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;"><br></span></p><p style="font-size:13px;"><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</span></p>
        </div>
    </div>

    <!-- Unnamed (Topico de Ajuda) -->
    <!-- Topico Preview (Rectangle) -->
    <div id="u308" class="ax_default paragraph" data-label="Topico Preview">
        <div id="u308_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u309" class="text" style="visibility: visible;">
            <p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;">Tópico de Ajuda</span></p><p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;"><br></span></p><p style="font-size:13px;"><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</span></p>
        </div>
    </div>


</row>



<row>

    <!-- Unnamed (Suporte) -->
    <!-- Tel 1 (Rectangle) -->
    <div id="u311" class="ax_default heading_3" data-label="Tel 1">
        <div id="u311_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u312" class="text" style="visibility: visible;">
            <p><span>Tel 1: 88 88888-8888</span></p>
        </div>
    </div>

    <!-- Tel 2 (Rectangle) -->
    <div id="u313" class="ax_default heading_3" data-label="Tel 2">
        <div id="u313_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u314" class="text" style="visibility: visible;">
            <p><span>Tel 2: 88 8888-8888</span></p>
        </div>
    </div>

    <!-- E-mail (Rectangle) -->
    <div id="u315" class="ax_default heading_3" data-label="E-mail">
        <div id="u315_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u316" class="text" style="visibility: visible;">
            <p><span>E-mail: coruja@pearsonclinical.com.br</span></p>
        </div>
    </div>

    <!-- Horario (Rectangle) -->
    <div id="u317" class="ax_default heading_3" data-label="Horario">
        <div id="u317_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u318" class="text" style="visibility: visible;">
            <p><span>Horário de atendimento: </span></p><p><span>xxx-xxx das ##h às ##h</span></p>
        </div>
    </div>

    <!-- Fale Conosco (Rectangle) -->
    <div id="u319" class="ax_default heading_2" data-label="Fale Conosco">
        <div id="u319_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u320" class="text" style="visibility: visible;">
            <p><span>Fale Conosco</span></p>
        </div>
    </div>

    <!-- Body_Hi (Rectangle) -->
    <div id="u321" class="ax_default heading_1" data-label="Body_Hi">
        <div id="u321_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u322" class="text" style="visibility: visible;">
            <p><span>Tópico de Ajuda - Pergunta/Problema</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u323" class="ax_default paragraph">
        <div id="u323_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u324" class="text" style="visibility: visible;">
            <p style="font-size:18px;"><span style="font-family:'Arial Negrito', 'Arial Normal', 'Arial';font-weight:700;">Resposta/Solução</span></p><p style="font-size:13px;"><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</span></p>
        </div>
    </div>

</row>
