
@{
    ViewBag.Title = "Avaliacoes";
    Layout = "~/Views/Shared/_LayoutEspecialista.cshtml";
}


<div role="main">
    <span id="maincontent"></span><h2>Baixar Avaliação</h2><div class="box generalbox center clearfix">
        <div class="no-overflow">
            <div id="instrucoes" style="line-height:18px; font-size:1.5rem;">
                <p>Escolha uma combinação de domínios para compor sua Avaliação. O arquivo que baixar, conterá o programa Aplicação Coruja, o qual você utilizará para aplicar a Avaliação. Veja mais em <a href="http://canal.corujaedu.com.br/mod/page/view.php?id=76#baixando">Baixando a Avaliação</a>&nbsp;(Lembre-se, nosso software roda apenas em computadores com o Sistema Operacional Windows).</p>
                <p>Recomendamos baixar e aplicar uma Avaliação com os três domínios (Língua Portuguesa, Matemática e Habilidades de Aprendizagem).</p>
                <p>É necessário baixar uma nova Avaliação, caso queira alterar a combinação a ser aplicada.</p>
                <p>
                    Utilize os filtros da tabela ou a busca por nome do arquivo para encontrar o arquivos desejado. Caso seja necessário, navegue pelas páginas usando os ícones no canto superior direito da tabela.
                </p>
                <p style="font-size: 2rem; color: red;">
                    Aguarde o carregamento da lista.
                </p>
            </div>

            <div style="width:80%;">
                <!-- Place this tag where you want the Awesome Table Widget to render -->
                <iframe data-type="AwesomeTableView" name="147499162097331" src="https://view-awesome-table.com/-KPFMNi9wRtWHI_qvAC0/view" scrolling="no" style="height:997px;"></iframe>
            </div>

            <!-- Place this tag in your head or just before your close body tag. -->
            <script src="https://awesome-table.com/AwesomeTableInclude.js"></script>
        </div>
    </div><div class="modified">Última atualização: segunda, 15 Ago 2016, 20:24</div>
</div>




    <div class="row HeadRowEspec">
        <div class="col-md-9">
            <h2>Baixe sua Avaliação <i class="fa fa-fw fa-download"></i></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h4>Domínios</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"><input id="chkApr" type="checkbox" value="Aprendizagem" class="checkBoxEspec"/>&nbsp;Aprendizagem</div>
        <div class="col-md-3"><input id="chkLp" type="checkbox"  value="Português" class="checkBoxEspec"/>&nbsp;Português</div>
        <div class="col-md-3"><input id="chkMat" type="checkbox" value="Matemática" class="checkBoxEspec"/>&nbsp;Matemática</div>
    </div>

<hr/>

    <div class="row">
        <div class="col-md-2">
            <h4>Ano</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"><input id="chkAno1" type="checkbox" value="1º Ano" class="checkBoxEspec"/>&nbsp;1º Ano</div>
        <div class="col-md-2"><input id="chkAno2" type="checkbox" value="2º Ano" class="checkBoxEspec"/>&nbsp;2º Ano</div>
        <div class="col-md-2"><input id="chkAno3" type="checkbox" value="3º Ano" class="checkBoxEspec"/>&nbsp;3º Ano</div>
    </div>

<hr/>

    <div class="row">
        <div class="col-md-2">
            <h4>Versão</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"><input id="chkVersaoA" type="checkbox" value="Versão A" class="checkBoxEspec"/>&nbsp;Versão A</div>

        <div class="col-md-2"><input id="chkVersaoB" type="checkbox" value="Versão B" class="checkBoxEspec"/>&nbsp;Versão B</div>
    </div>

<hr/>

<div class="row">
    <div class="col-md-3">
        <p id="selection"></p>
    </div>
</div>


<div class="row">

    <div class="col-md-offset-6 col-md-2">
        <input id="btnDownload" type="button" value="Download" class="btn btn-primary" />
    </div>
</div>