
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="Error404" class="section">


    <div class="container">

        <h2 class="section-heading text-center">Canal Coruja</h2>

        <div class="row">
            <div class="col-sm-12 text-center">

                <img src="~/Content/CorujaImages/404.png" alt="404" />


            </div>
        </div>

    </div>

</section>


