
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_LayoutEspecialista.cshtml";
}

<div class="row HeadRowEspec">
    <div class="col-md-9">
        <h2>Prova Demo <i class="fa fa-fw fa-download"></i></h2>
    </div>
</div>
