@using CorujaSystem.Models
@model IEnumerable<Report>

@{
    ViewBag.Title = "Relatorios";
    Layout = "~/Views/Shared/_LayoutEspecialista.cshtml";
}


<div class="row HeadRowEspec">
    <div class="col-md-9">
        <h2>Relatórios <i class="fa fa-fw fa-download"></i></h2>
    </div>
</div>

