
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEspecialista.cshtml";
}


<div class="row HeadRowEspec">
    <div class="col-md-9">
        <h2>Ambiente Especialista</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <p>Esta seção concentra links, artigos, instruções, avaliações e administração de relatórios já aplicados e disponíveis para uso do Especialista.</p>

    </div>
</div>


