@{
    ViewBag.Title = "Confirmação de Senha";
}

<section id="Confirmacao" class="section section-gray">


    <div class="container">

        <h2 class="section-heading text-center">Conta Coruja</h2>

        <div class="row centered-form">

            <div class="panel-group">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Verificar Senha</h3>
                    </div>

                    <p>
                        Verifique seu Email para redefinir sua senha
                    </p>



                </div>

            </div>

        </div>


    </div>

</section>