@{
    ViewBag.Title = "Confirmação de Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Obrigado por confirmar seu Email. @Html.ActionLink("Entrar no espaço Coruja", "Login", "Conta", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
