@{
    ViewBag.Title = "Confirmação de Senha Redefinida";
}



<section id="ConfirmacaoReset" class="section section-gray">


    <div class="container">

        <h2 class="section-heading text-center">Conta Coruja</h2>


        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="alert-message alert-message-warning">
                    <img src="~/Content/CorujaImages/avatar2.png" alt="Coruja">
                    <h4>
                        Sua senha foi alterada. Click  @Html.ActionLink("Entrar", "Login", "Conta", routeValues: null, htmlAttributes: new { @class="a" })
                    </h4>

                </div>
            </div>
        </div>

    </div>

</section>
