

<h2>Mensagem</h2>

@{
    ViewBag.Title = "Mensagem";
         Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">@ViewBag.Title</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h3 class="text-danger">Erro ao processar a requisição da página</h3>
    }
    else
    {
        <h3 class="text-danger">@ViewBag.errorMessage</h3>
    }
}