
@{
    ViewBag.Title = "AdminCoruja";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="section section-gray">

    <div class="container">
        <h2 class="section-heading text-center">Gerenciamento de Contas e Usuários</h2>

        <div class="row">
            dude

        </div>

        <div class="cleaner_h30"></div>

    </div>

</section>
