

@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Excluir perfil";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Excluir perfil</h2>

<h3>Confirmar exclusão de perfil? </h3>
<p>Excluindo o perfil todos usuários serão removidos desse perfil. Os usuários não serão removidos.</p>
<div>
    <h4>Role.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Lista de perfis", "ListOfRoles")
        </div>
    }
</div>
