@model IQueryable<CorujaPresentation.Models.RoleUsers>
@{
    ViewBag.Title = "ListOfUsers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h2>Lista de Usuários</h2>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                Email
            </th>

            <th>
                Nome
            </th>

            <th>
                Data de Cadastro
            </th>


            <th></th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>

                <td>
                    @Html.ActionLink("Info", "SysUserDetails", "Admin", new { IdUser = item.UserMail })
                </td>

            </tr>}

    </table>
</div>
