
@{
    ViewBag.Title = "RoleDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="section section-gray">

    <div class="container">
        <h2 class="section-heading text-center">Detalhes Perfil</h2>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">



                <h4 style="border-bottom: 1px solid #c5c5c5;">
                    <i class="glyphicon glyphicon-circle-arrow-right">
                    </i>
                    Cadastro de Perfis
                </h4>

                <div style="padding: 20px">


                    <table id="tbrole">
                        <tr>
                            <td class="c">
                                Perfil
                            </td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="c">
                                    @*@item.Name*@
                                    Nome Perfil
                                </td>

                                <td>
                                    <p class="help-block">

                                        @Html.ActionLink("Excluir", "DeleteUser", "Admin", null, new { @class = "pull-right text-muted" })

                                    </p>
                                </td>


                            </tr>
                        }
                    </table>

                    <div class="cleaner_h30"></div>

                </div>

                <p class="help-block">
                    @Html.ActionLink("Adicionar Perfil", "CreateRole", "Admin")
                </p>

                <p class="help-block">
                    @Html.ActionLink("Lista de Perfis", "RoleList", "Admin")
                </p>

            </div>

        </div>

        <div class="cleaner_h30"></div>

    </div>


</section>

