@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Perfis";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Lista de Perfis Disponíveis</h2>


<style type="text/css">
    #tbrole, .c 
    {
        border: double;
    }
</style>



<section class="section section-gray">

    <div class="container">
        <h2 class="section-heading text-center">Perfis</h2>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">

                <h4 style="border-bottom: 1px solid #c5c5c5;">
                    <i class="glyphicon glyphicon-circle-arrow-right">
                    </i>
                    Cadastro de Perfis
                </h4>

                <div style="padding: 20px">


                    <table id="tbrole">
                        <tr>
                            <td class="c">
                                Perfil
                            </td>
                        </tr>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="c">
                                @*@item.Name*@
                                Nome Perfil
                            </td>

                            <td>
                                <p class="help-block">

                                    @Html.ActionLink("Excluir", "DeleteRole","Admin", null, new { @class = "pull-right text-muted" })

                                </p>
                            </td>

                            <td>
                                <p class="help-block">

                                    @Html.ActionLink("Detalhes", "RoleDetails","Admin", null, new { @class = "pull-left text-muted" })
                                </p>
                            </td>


                        </tr>
                        }
                    </table>

                    <div class="cleaner_h30"></div>

                </div>

                <p class="help-block">
                    @Html.ActionLink("Adicionar Perfil", "CreateRole", "Admin")
                </p>


            </div>
        </div>

    </div>

</section>