
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper" style="margin-left:0">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Perfis
        </h1>
      
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="row">

            <img src="~/Content/CorujaImages/avatar2.png" alt="Coruja">
            <h4>
                Admin
            </h4>

            <div class="col-sm-12">

                <h4 style="border-bottom: 1px solid #c5c5c5;">
                    <i class="glyphicon glyphicon-circle-arrow-right">
                    </i>
                    Cadastro de Perfis
                </h4>

            </div>
        </div>


        <div class="row">

            <div class="col-sm-4" style="padding: 20px">

                    <form action="~/Admin/CreateRole" method="post" class="" role="form">

                        <div class="form-group">
                            Nome do Perfil
                            <input id="txtRoleName" name="Name" type="text" class="form-control" required />
                        </div>

                        <div class="form-group">
                            
                            <input type="submit" class="btn btn-info btn-primary" value="Criar Perfil" />
                        </div>

                    </form>
              
                <div class="cleaner_h30"></div>
            </div>

        </div>

        <div class="row">

            <div id="result" class="col-sm-6">
                <p class="alert-info">@TempData["ResultMessage"]</p>
           </div>

        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lista de Perfis</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-row table-hover">
                            <thead>
                        
                                <tr>
                          
                                    <th>Nome Perfil</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var item in Model)
                        {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                   
                                    <td>
                                        <small class="label label-info" ><a style="color:aliceblue"  href="~/Admin/ListOfUsers?roleName=@item.Name">Users</a></small>
                                    </td>
                                   
                                    <td>
                                            <small onclick="return confirm('Confirmar exclusão?')" class="label label-danger" ><a style="color:aliceblue" href="~/Admin/DeleteRole?id=@item.Id">Excluir</a></small>
                      
                                    </td>
                                   
                                </tr>
                         }
                            </tbody>
                            <tfoot>
                                @*<tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>*@
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
           
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

