
@model CorujaPresentation.Models.ApplicationUser

@{
    ViewBag.Title = "Detalhes do usuário";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            UserName
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Lista de perfis para esse usuário</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Nenhum perfil encontrado para esse usuário</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Editar", "EditUser", new { id = Model.Id }) |
    @Html.ActionLink("Lista de usuários", "ListOfUsers")
</p>



