
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- EQUIPE	================================= -->
<section id="team" class="section section-dark">
    <div class="container">
        <h2 class="section-heading text-center">EQUIPE</h2>
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <p>
                    A&nbsp;Coruja Educação é formada por uma equipe de educadores e especialistas de diversas áreas do conhecimento e aprendizagem que atuam com a diferenciação da instrução, por meio do Design Thinking e&nbsp;Blended Learning.
                </p>
            </div>
        </div>
        <!-- EQUIPE 1a LINHA ======================================= -->
        <div id="team-1st-row" class="row row-centered">
            <div class="cleaner_h30"></div>
            <!-- MARCELA BASTOS ==================================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Marcela.png" alt="Marcela Bastos" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalMB">
                    <p>
                        <span class="team-name">Marcela Bastos</span><br>
                        <span class="team-position">Diretora Geral</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalMB" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Marcela Bastos</h4>
                            </div>
                            <div class="modal-body">
                                <p>Formada em Administração de Empresas (FGV) e Mestra em Comunicação e Semiótica (PUC); foi <em>Whirlpool</em> e Consultora em Semiótica e Pesquisa de Mercado.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- fim modal -->
            </div>
            <!-- //MARCELA BASTOS ================================== -->
            <!-- MÔNICA WEINSTEIN ================================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Monica.png" alt="Mônica Weinstein" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalMW">
                    <p>
                        <span class="team-name">Mônica Weinstein</span><br>
                        <span class="team-position">Diretora Técnica</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalMW" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Mônica Weinstein</h4>
                            </div>
                            <div class="modal-body">
                                <p>Fonoaudióloga e Doutora em Distúrbios da Comunicação Humana pela UNIFESP, foi Consultora em Desenvolvimento Social e Humano desde 2008 para o BID, <em>Lemelson Foundation</em> (EUA), <em>UBS Optimus Foundation</em> (Suíça), Instituto Cefac e Instituto ABCD (Brasil) e <em>Visiting Scholar</em> do Departamento de Neurociência Cognitiva, <em>McGill University</em>, Canada.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //MÔNICA WEINSTEIN ================================ -->
            <!-- RODOLFO HING ====================================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Rodolfo.png" alt="Rodolfo Hing" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalCK">
                    <p>
                        <span class="team-name">Rodolfo Hing</span><br>
                        <span class="team-position">Equipe Técnica</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalCK" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Rodolfo Hing</h4>
                            </div>
                            <div class="modal-body">
                                <p>?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //RODOLFO HING ==================================== -->
            <!-- MARINA BRAGA ====================================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Marina.png" alt="Marina Braga" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalMaBra">
                    <p>
                        <span class="team-name">Marina Braga</span><br>
                        <span class="team-position">Equipe Técnica</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalMaBra" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Marina Braga</h4>
                            </div>
                            <div class="modal-body">
                                <p>Pedagoga (USP), com experiência de sala de aula com crianças de até 10 anos. É professora de Educação Infantil.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //MARINA BRAGA ==================================== -->
        </div>
        <!-- EQUIPE 2a LINHA ======================================= -->
        <div id="team-2nd-row" class="row row-centered">
            <div class="cleaner_h30"></div>
            <!-- CHRISTIANE FERNANDES ============================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Chris.png" alt="Christiane Fernandes" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalCF">
                    <p>
                        <span class="team-name">Christiane Fernandes</span><br>
                        <span class="team-position">Equipe Técnica</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalCF" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Christiane Fernandes</h4>
                            </div>
                            <div class="modal-body">
                                <p> Psicopedagoga clínica. Atua nas áreas de Desenvolvimento de Habilidades de Vida e Treinamento Parental. Formada em Engenharia Comunitária pela Fundação Vanzolini. Foi voluntária no Ambulatório de Socialização do Serviço de Psiquiatria Infantil e da Adolescência do Instituto de Psiquiatria do HCFMUSP.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //CHRISTIANE FERNANDES ============================ -->
            <!-- ADRIANA GABANINI ================================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Adriana.png" alt="Adriana Gabanini" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalAG">
                    <p>
                        <span class="team-name">Adriana Gabanini</span><br>
                        <span class="team-position">Equipe Técnica</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalAG" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Adriana Gabanini</h4>
                            </div>
                            <div class="modal-body">
                                <p>Fonoaudióloga, com Mestrado em Filologia e Língua Portuguesa pela USP, é profissional do Centro de Triagem Neonatal e Estimulação Neurossensorial em São Caetano do Sul.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //ADRIANA GABANINI ================================ -->
            <!-- ANA CAROLINA CASTRO =============================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Ana Carolina.png" alt="Ana Carolina Castro" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalACC">
                    <p>
                        <span class="team-name">Ana Carolina Castro</span><br>
                        <span class="team-position">Equipe Técnica</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalACC" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Ana Carolina Castro</h4>
                            </div>
                            <div class="modal-body">
                                <p>Formada em Pedagogia (Universidade Mackenzie), desenvolve projeto de pesquisa para mestrado em Escola Democrática na USP.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //ANA CAROLINA CASTRO ============================= -->
            
        </div>
        <!-- EQUIPE 3a LINHA ======================================= -->
        <div id="team-3rd-row" class="row row-centered">
            <div class="cleaner_h30"></div>
            <!-- FLÁVIA CUNHA ====================================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Flavia.png" alt="Flávia Cunha" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalFC">
                    <p>
                        <span class="team-name">Flávia Cunha</span><br>
                        <span class="team-position">Equipe Técnica</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalFC" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Flávia Cunha</h4>
                            </div>
                            <div class="modal-body">
                                <p>Formada em Licenciatura em Artes Visuais pela Faculdade Paulista de Artes. Estudou música na Escola Municipal de Música e Universidade Livre de Música Tom Jobim. Foi professora de flauta, saxofone e teoria musical nas escolas: Allegro, Casa da Música e Aqui Jazz. Trabalhou com os grupos de Teatro Vento forte, Salamandra Teatro e Cia e Milliumas.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //FLÁVIA CUNHA ==================================== -->
            <!-- TOMAS ==================================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Tomas.png" alt="Tomás da Silva Rangel" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalLM">
                    <p>
                        <span class="team-name">Tomás da Silva Rangel</span><br>
                        <span class="team-position">Equipe Técnica</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalLM" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Tomás da Silva Rangel</h4>
                            </div>
                            <div class="modal-body">
                                <p>Analista Desenvolvedor C#, ASP.NET, VBA</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //TOMAS ================================== -->
            <!-- CHRISTIAN TAKAGI ================================== -->
            <div class="col-md-3 col-xs-6 text-center col-centered">
                <img src="~/Content/CorujaImages/Takagi.png" alt="Christian Takagi" class="team-photo" width="500" height="500">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-team col-centered" data-toggle="modal" data-target="#myModalCT">
                    <p>
                        <span class="team-name">Christian Takagi</span><br>
                        <span class="team-position">Equipe Técnica</span>
                    </p>
                </button>
                <!-- Modal -->
                <div id="myModalCT" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Christian Takagi</h4>
                            </div>
                            <div class="modal-body">
                                <p>Designer pela USP. Atua com <em>Web Design</em>, <em>User Interface Design</em>, programação em C e Python.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //CHRISTIAN TAKAGI ================================ -->
        </div>
    </div>
</section>
