
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- APRESENTACAO ================================= -->

<section id="blog" class="blog-section blog-layout-simple blog-layout-fullscreen-subscription-form blog-fullscreen section section-dark">

    <div class="section-background">
        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax" data-stellar-ratio="0.4">
            <img src="~/Content/CorujaImages/menina_pensativa_lousa.jpg" alt="Menina pensativa em lousa de fundo" width="2000" height="1280" style="opacity: 0.5;">
        </div>

    </div>

    <div class="container">
        <div class="blog-content">
            <div class="blog-content-inner">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="blog-heading text-center" data-animation="fadeIn">
                          
                            <h1 class="animated fadeInDown wow animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">CADA CRIANÇA É ÚNICA</h1>
                           
                            <p class="blog-tagline animated fadeInDown wow animated all-caps" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                                aprende de modo <span class="orangeWrapper">particular</span>
                                <br>através de estímulos <span class="orangeWrapper">diversos</span>
                                <br>cada um no seu <span class="orangeWrapper">próprio</span> ritmo
                           
                            </p>
                          
                        </div>
                        
                        <div class="hr dotted animated fadeInDown animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
                        </div>
                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <a class="play_btn" href="http://blog.corujaedu.com.br/post/139983050931/cada-crian%C3%A7a-%C3%A9-%C3%BAnica-n%C3%B3s-somos-a-coruja" target="_blank">
                            <button type="button" class="btn btn-circle btn-xl minutes-wrapper animated" fadeindown="" animated="" data-wow-delay=" .6s" style="margin-left: 45%;">
                                <i class="fa fa-play t-text"></i>
                            </button>
                        </a>
                        <div class="cleaner_h5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="ganhe" class="ganhe-section section-dark section">
    <div class="container">
        <h2 class="section-heading text-center">CORUJA EDUCAÇÃO</h2>
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div id="description_corujaedu" style="font-size:18px;">
                    <!-- Trigger the modal with a button -->
                    <p class="text-center">Fundada em 2013 como negócio social, a Coruja oferece um programa completo de <a data-toggle="modal" data-target="#myModalDI" href="http://canal.corujaedu.com.br/acessar/index.php#description_corujaedu"><u>diferenciação da instrução</u></a>, com o objetivo de promover o desenvolvimento dos diversos perfis de alunos e permitir que todos aprendam.</p>
                </div>
                <!-- Modal -->
                <div id="myModalDI" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">O que é Diferenciação da Instrução?</h4>
                            </div>
                            <div class="modal-body">
                                <p>É a oferta de conteúdos curriculares, atividades, produtos e ambientes de aprendizagem que atendam a diversidade de perfis, interesses e níveis de desenvolvimento dos alunos.</p>
                                <p>A diferenciação da instrução vai bem além da aplicação de atividades diversificadas em sala de aula. Ela requer a assimilação do conceito de que os alunos aprendem de formas diferentes e, portanto, vão se beneficiar de uma visão de educação que considera a diversidade dos alunos, sem abrir mão da convicção de que todos podem e devem aprender de forma permanente e em seu pleno potencial.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- fim modal -->
            </div>
        </div>
    </div>
</section>

<!-- COMO FUNCIONA	================================= -->
<section id="about" class="about-section section">
    <div class="container">
        <h2 class="section-heading text-center">Como Funciona?</h2>
        <div class="row">
            <div class="item col-md-3 col-xs-6 text-center">
                <span class="icon default-bg circle animated fadeInUp delayp1">
                    <img src="~/Content/CorujaImages/online.svg" alt="" style="opacity: 0.5;" width="32px" height="32px">
                </span>
                <div class="content">
                    <h3 class="title">AVALIAÇÃO</h3>
                    <p>O aluno faz uma avaliação no computador, que monitora suas habilidades e dificuldades</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-3 col-xs-6 text-center">
                <span class="icon default-bg circle animated fadeInUp delayp1">
                    <img src="~/Content/CorujaImages/write12.svg" alt="" style="opacity: 0.5;" class="icon-about" width="32px" height="32px">
                </span>
                <div class="content">
                    <h3 class="title">RELATÓRIO</h3>
                    <p>O sistema gera relatórios por turma, aluno e escola</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-3 col-xs-6 text-center">
                <span class="icon default-bg circle animated fadeInUp delayp1">
                    <img src="~/Content/CorujaImages/text87.svg" alt="" style="opacity: 0.5;" width="32px" height="32px">
                </span>
                <div class="content">
                    <h3 class="title">INSTRUÇÃO</h3>
                    <p>Cada aluno recebe tarefas e desafios adaptados às suas necessidades de aprendizagem</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-3 col-xs-6 text-center">
                <span class="icon default-bg circle animated fadeInUp delayp1">
                    <img src="~/Content/CorujaImages/teacher4.svg" alt="" style="opacity: 0.5;" width="32px" height="32px">
                </span>
                <div class="content">
                    <h3 class="title">FORMAÇÃO</h3>
                    <p>Preparamos o professor para aplicar nosso material em sala de aula</p>
                </div><!--//content-->
            </div><!--//item-->
        </div>
        <div class="cleaner_h30"></div>
        <div class="closing-buttons tada animated done-animation" data-animation="tada"><a href="http://blog.corujaedu.com.br/faq" class="btn btn-lg btn-primary">Perguntas e Respostas Frequentes</a></div>
    </div>
</section>


