
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- COMO FUNCIONA	================================= -->
<section id="about" class="about-section section">

    <div class="container">
        <h2 class="section-heading text-center">Como Funciona?</h2>

        <div class="row">

            <div class="item col-md-3 col-xs-6 text-center">

                <span class="icon default-bg circle animated fadeInUp delayp1">
                    <img src="~/Content/CorujaImages/online.svg" alt="" style="opacity: 0.5;" width="32px" height="32px">
                </span>

                <div class="content">
                    <h3 class="title">AVALIAÇÃO</h3>
                    <p>O aluno faz uma avaliação no computador, que monitora suas habilidades e dificuldades</p>
                </div><!--//content-->

            </div><!--//item-->

            <div class="item col-md-3 col-xs-6 text-center">

                <span class="icon default-bg circle animated fadeInUp delayp1">
                    <img src="~/Content/CorujaImages/write12.svg" alt="" style="opacity: 0.5;" class="icon-about" width="32px" height="32px">
                </span>

                <div class="content">
                    <h3 class="title">RELATÓRIO</h3>
                    <p>O sistema gera relatórios por turma, aluno e escola</p>
                </div><!--//content-->
            </div><!--//item-->

            <div class="item col-md-3 col-xs-6 text-center">

                <span class="icon default-bg circle animated fadeInUp delayp1">
                    <img src="~/Content/CorujaImages/text87.svg" alt="" style="opacity: 0.5;" width="32px" height="32px">
                </span>

                <div class="content">
                    <h3 class="title">INSTRUÇÃO</h3>
                    <p>Cada aluno recebe tarefas e desafios adaptados às suas necessidades de aprendizagem</p>
                </div><!--//content-->
            </div><!--//item-->

            <div class="item col-md-3 col-xs-6 text-center">

                <span class="icon default-bg circle animated fadeInUp delayp1">
                    <img src="~/Content/CorujaImages/teacher4.svg" alt="" style="opacity: 0.5;" width="32px" height="32px">
                </span>

                <div class="content">
                    <h3 class="title">FORMAÇÃO</h3>
                    <p>Preparamos o professor para aplicar nosso material em sala de aula</p>
                </div><!--//content-->
            </div><!--//item-->
        </div>

        <div class="cleaner_h30"></div>

        <div class="closing-buttons tada animated done-animation" data-animation="tada"><a href="http://blog.corujaedu.com.br/faq" class="btn btn-lg btn-primary">Perguntas e Respostas Frequentes</a></div>

    </div>

</section>

<!-- CURSOS E PALESTRAS	================================= -->
<section id="benefits" class="benefits-section section-dark section">

    <div class="container">

        <h2 class="section-heading text-center">Cursos e Palestras</h2>

        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <p>A Coruja também oferece cursos e palestras sobre temas relacionados à educação. Para professores, gestores, especialistas e pais.</p>
            </div>
        </div>

        <div class="cleaner_h30"></div>

        <div class="closing-buttons tada animated done-animation" data-animation="tada"><a href="http://blog.corujaedu.com.br/tagged/curso" class="btn btn-lg btn-primary">Conheça nossos Cursos</a></div>

        <div class="cleaner_h30"></div>
    </div>

</section>



