
@{
    ViewBag.Title = "Testes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section id="RedefinirSenha" class="section section-gray">


    <div class="container">

        <h2 class="section-heading text-center">Conta Coruja</h2>

        <div class="row">
            <div class="col-sm-12 col-md-12 alert-message alert-message-warning">

                <img src="~/Content/CorujaImages/avatar2.png" alt="Coruja">
                <h4>
                    Redefinir Senha
                </h4>

                <div class="col-sm-12 col-md-12">


                    <form role="form" class="form-horizontal">

                        <h5>Preencha os campos abaixo</h5>
                     
                        <div class="col-xs-6">
                            <div class="form-group">
                                <span class="col-md-2 control-label">Email</span>
                                <div class="col-md-10">
                                    <input id="Text1" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-2 control-label">Password</span>
                                <div class="col-md-10">
                                    <input id="Text1" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-2 control-label">RePassword</span>
                                <div class="col-md-10">
                                    <input id="Text1" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-primary" value="Reset" />
                                </div>
                            </div>

                        </div>

                    </form>

                </div>


            </div>
        </div>

    </div>

</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
