
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BLOG DA CORUJA - TUMBLR ================================= -->
<section id="education" class="education-section section-gray section" >
    
    <div class="container" >
       
         <h2 class="section-heading text-center">Blog da Coruja</h2>
        
        <div class="row row-centered">
        
                <!-- 1 post -->
            <div class="col-md-4 col-sm-8 col-xs-10 col-centered col-tumblr">
               
                <div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/HOz8Jw0QkVDv8FiTXPHAYA/144251878426" data-did="542fe766c8705445d3d0fee3ea2e49bc273b23fb"><a href="http://blog.corujaedu.com.br/post/144251878426/transtornos-específicos-da-aprendizagem-parte-1">http://blog.corujaedu.com.br/post/144251878426/transtornos-específicos-da-aprendizagem-parte-1</a></div>
                <script async src="https://secure.assets.tumblr.com/post.js"></script>
      
            </div>
        
            <!-- 2 post -->
            <div class="col-md-4 col-sm-8 col-xs-10 col-centered col-tumblr">
                
                <div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/HOz8Jw0QkVDv8FiTXPHAYA/141965458346" data-did="972a8341c8c74470158040fe5fd4eeb38395a082"><a href="http://blog.corujaedu.com.br/post/141965458346/quem-tem-medo-de-matematica">http://blog.corujaedu.com.br/post/141965458346/quem-tem-medo-de-matematica</a></div>
                <script async src="https://secure.assets.tumblr.com/post.js"></script>

            </div>
            
            <!-- 3 post -->
            <div class="col-md-4 col-sm-8 col-xs-10 col-centered col-tumblr">

                <div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/HOz8Jw0QkVDv8FiTXPHAYA/144253071096" data-did="4616e319a1687cf20abf83f04a6cd7fac471b2fa"><a href="http://blog.corujaedu.com.br/post/144253071096/dificuldades-e-transtornos-da-aprendizagem-da">http://blog.corujaedu.com.br/post/144253071096/dificuldades-e-transtornos-da-aprendizagem-da</a></div>
                <script async src="https://secure.assets.tumblr.com/post.js"></script>
             
            </div>
        
        </div>
    
    </div>

</section>


