
@{
    ViewBag.Title = "Conteudo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="ConteudoSection" class="section section-gray">
    <div class="container">
        <h2 class="section-heading text-center">Conteúdo</h2>
        <div class="row">
            <div>
                <img src="~/Content/CorujaImages/avatar2.png" />
            </div>
                
            <div>
                <img src="~/Content/CorujaImages/dog.png" />
            </div>

        </div>

    </div>

</section>

