
@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- PARCEIROS	==================================================== -->
<section id="parceiros" class="parceiros-section section-gray section">
    <div class="container">
        <h2 class="section-heading text-center">Parceiros</h2>
        <div class="cleaner_h30"></div>
        <div class="row row-clients row-centered">
            <div class="col-xs-7 col-sm-5 col-md-3 col-centered">
                <!-- 1 -->
                <figure class="client_logo"><a href="http://quintessa.org.br/"><img src="~/Content/CorujaImages/quintessa.png" alt="Quintessa" width="532" height="248"></a></figure>
            </div>
            <div class="col-xs-5 col-sm-4 col-md-2 col-centered">
                <!-- 2 -->
                <figure class="client_logo"><a href="http://www.casadopsicologo.com.br/"><img src="~/Content/CorujaImages/pearson-primary.png" alt="Pearson Clinical"></a></figure>
            </div>
            <div class="col-xs-5 col-sm-4 col-md-2 col-centered">
                <!-- 3 -->
                <figure class="client_logo"><a href="http://www.parceirosdaeducacao.org.br/"><img src="~/Content/CorujaImages/parceiros-da-educacao.png" alt="Parceiros da Educação"></a></figure>
            </div>
            <div class="col-xs-5 col-sm-4 col-md-2 col-centered">
                <!-- 4 -->
                <figure class="client_logo"><a href="http://tesiedu.com/"><img src="~/Content/CorujaImages/tesi.png" alt="Tesi" width="334" height="186"></a></figure>
            </div>
            <div class="col-xs-5 col-sm-4 col-md-2 col-centered">
                <!-- 5 -->
                <figure class="client_logo"><a href="http://www.abd.org.br/"><img src="~/Content/CorujaImages/abd.jpg" alt="Associação Brasileira de Dislexia"></a></figure>
            </div>
        </div>
    </div>
</section>
