
@{
    ViewBag.Title = "Testes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewBag.Title = "Mensagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="Msg" class="section section-gray">

    <div class="container">
        <h2 class="section-heading text-center">Canal Coruja</h2>
        <div class="row">
            <div class="col-sm-12 col-md-12 alert-message">


                <img src="~/Content/CorujaImages/avatar2.png" alt="Coruja">

                <p>
                    ViewBag.Msg
                </p>

            </div>
        </div>
    </div>


    <div class="col-md-4">
        <p>Entre em contato com a Coruja e reporte o erro ocoriido</p>
        <ul class="footer-posts list-unstyled">
            <li class="footer-sprite">
                <a href="mailto:contato@corujaedu.com.br?subject=[Fale%20com%20a%20Coruja]&amp;cco=christian@corujaedu.com.br" class="footer">contato@corujaedu.com.br</a>
            </li>
        </ul>
    </div>


</section>
