
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Upload File";
}

<section id="Upload" class="section section-dark">
    <div class="container">
        <h2 class="section-heading text-center">Canal Coruja</h2>
        <div class="row">

            <div class="col-sm-12 text-center">

                <div>Upload</div>
                <div>
                    <input type='file' id="files" multiple="multiple" /> <!-- Allowed to select Multiple files at a stretch-->
                    <input type="button" id="upload" value="Upload" />
                </div>
             </div>

        </div>
   </div>
</section>


